.k-header::before {
  float: right;
  content: '';
  width: 100%;
  height: 120px;
  background-image: url(/assets/lib/atot-logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.k-site-view-header h1 {
  display: none;
}